@import url('https://fonts.googleapis.com/css2?family=Anton&family=Khand:wght@300;400;500;600;700&family=Rancho&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffffff;
  --secondary: #ffffff;
  --accent: #ffffff;
  --text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
    font-family: "Roboto Slab", serif;
}

.rancho-regular {
    font-family: "Rancho", serif;
}

.anton-regular {
  font-family: "Anton", serif;
}

.roboto-slab-semibold {
                font-family: "Roboto Slab", serif;
              }

.khand-regular {
  font-family: "Khand", serif;
}

.project-bg {
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../assets/image/noise.webp");
  height: 100%;
  width: 100%;
}