@import url('https://fonts.googleapis.com/css2?family=Anton&family=Khand:wght@300;400;500;600;700&family=Rancho&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffffff;
  --secondary: #ffffff;
  --accent: #ffffff;
  --text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto Slab", serif;
  scroll-behavior: smooth;
}

.rancho-regular {
    font-family: "Rancho", serif;
}

.anton-regular {
  font-family: "Anton", serif;
}

.roboto-slab-semibold {
                font-family: "Roboto Slab", serif;
              }

.khand-regular {
  font-family: "Khand", serif;
}

.project-bg {
  position:relative;
  transition: .5s;
  &.dark{
    background: #101019;
    &:before{
      content:'';
      position: absolute;
      background: url("/image/noise.webp") center / 10%;
      height: 100%;
      width: 100%;
      top:0;
      left:0;
      background-attachment: fixed;
    }
  }
  .project-card{
    background: rgba(21, 21, 33, 0.7);
    backdrop-filter: blur(12px);
    border:1px solid rgba(255,255,255,0.12);
  }
}


@keyframes scroll {

}