@import url('https://fonts.googleapis.com/css2?family=Anton&family=Khand:wght@300;400;500;600;700&family=Rancho&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffffff;
  --secondary: #ffffff;
  --accent: #ffffff;
  --text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
    font-family: "Roboto Slab", serif;
}

.rancho-regular {
    font-family: "Rancho", serif;
}

.anton-regular {
  font-family: "Anton", serif;
  /*font-weight: 400;*/
  /*font-style: normal;*/
}

.roboto-slab-semibold {
                font-family: "Roboto Slab", serif;
                /*font-optical-sizing: auto;*/
                /*font-weight: 600; !*100 - 900*!*/
                /*font-style: normal;*/
              }

.khand-regular {
  font-family: "Khand", serif;
  /*font-weight: 400;*/
  /*font-style: normal;*/
}

.instaLogoColor {
  background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #777737, #FCAF45, #FFDC80,);
}